@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

a[href] {
  text-decoration: none;
}

header, section {
  padding: 0 20px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
}

.header-link {
  flex: 1 1 110px;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar {
  flex: 2 1 auto;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.nav-item {
  transition: box-shadow 0.3s;
  margin: 0 15px;
}

.nav-item:hover {
  box-shadow: 0 2px 0 #fff;
}

.nav-item a {
  display: block;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 5px 0;
}

/* Main Section */
.main-section {
  background: url("../assets/section1-bg.png") 0 0 no-repeat;
  background-size: cover;
  padding: 20px 0;
}

.wrapp-main-content {
  display: block;
  margin: 200px auto 280px;
  max-width: 430px;
}

.logo {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 0 20px;
}

.sub-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

/* Second Section */
.second-section {
  background: #EEEEEE;
  padding: 85px 20px 100px;
}

.second-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 40px;
}

.second-section .sub-title {
  color: #666666;
  margin: 40px 0 40px;
}

.wrapper-paragraph {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px;
  flex-wrap: wrap;
}

.block-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
}

button {
  color: #ffffff;
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.read-more-btn {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  background: #55C2D8;
  border-radius: 18px;
  padding: 5px 18px;
}

.read-more-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

/* Third Section */
.third-section {
  background: url("../assets/section3-bg.png");
  background-size: cover;
  position: relative;
  padding: 85px 0 90px;
}

.third-section:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 79, 42, 0.3);
}

.third-section .second-title {
  position: relative;
  color: #ffffff;
}

.play-btn {
  position: relative;
  width: 150px;
  height: 150px;
  background: #39C2D7;
  border-radius: 50%;
  margin: 55px auto 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn:hover {
  box-shadow: 0px 5px 40px -10px rgba(8, 240, 248, 0.8);
}

.third-section .sub-title {
  color: #ffffff;
  position: relative;
  margin-bottom: 55px;
}

/* Footer */
.footer {
  background: #464547;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.4);
  padding: 50px 20px 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {flex: 1 0 auto;}

.footer-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-footer img {
  vertical-align: text-top;
}

.mail-link {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 15px;
}
